/* nav bar start */
.weblogo {
    width: 65px;
}

.navbar {
    background: #AFD3E2 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #F6F1F1 !important;
    /* font-weight: 600; */
    font-size: 20px;
    font-weight: light;
}

.navbar-nav li a:hover {
    background: #146C94;
}

.moblogo {
    display: none;
}

/* nav bar end */

/* footer start */
.footer-para {
    line-height: 30px;
    word-spacing: 1px;
    font-size: 18px;
    color: aliceblue;
}

.icons{
    opacity: 0.5;
}

.icons:hover{
    opacity: 1;
}

/* footer end */

/* contact start */
.cntbg{
    background-image: url(../Image/contactbg.webp);
}

.contact-card{
    box-shadow: 1px 1px 12px #020001;
}

.cntlbl label{
    color: #19A7CE;
}

.keep{
    color: white;
    font-weight: 400;
}
/* contact end */

/* Media Query */
@media(max-width:768px) {
    .moblogo {
        display: block;
    }

    .weblogo {
        display: none;
    }

    .navbar {
        background: #AFD3E2 !important;
    }

    .head-img {
        width: 100%;
        margin-top: 20px;
    }
}