* {
    font-family: prague;
  
}

/* nav bar start */
.weblogo {
    width: 65px;
}

.navbar {
    background: #AFD3E2 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #F6F1F1 !important;
    font-size: 20px;
    font-weight: light;
}

.navbar-nav li a:hover {
    background: #146C94;
}

.moblogo {
    display: none;
}

/* nav bar end */

/* footer start */
.footer-para {
    line-height: 30px;
    word-spacing: 1px;
    font-size: 18px;
    color: aliceblue;
}

.icons {
    opacity: 0.5;
}

.icons:hover {
    opacity: 1;
}

/* footer end */

/* index start */


.home h2 {
    letter-spacing: 3px;
    font-family: prague;
    color: #000;
}

.home p {
    color: black;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
    font-family: IBM Plex Sans, sans-serif;
}

.index1 {
    width: 70%;
    border-radius: 10px;
    height: 80%;
    margin-left: 90px;
}

.index-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f3467;
    color: #fff;
    height: 400px;
    font-family: IBM Plex Sans, sans-serif;
    box-sizing: border-box;
}


.index2 {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #1296cf;
}

.index-content2 {
    background: linear-gradient(0deg, hsla(0, 0%, 8%, .2), hsla(0, 0%, 8%, .2)), linear-gradient(0deg, hsla(0, 0%, 8%, .2), hsla(0, 0%, 8%, .2)), linear-gradient(90deg, #4850a2 1.8%, #df01e1 50.24%, #b3529f 96.79%);
}

.index-content2 h3, h2, p{
    padding-top: 10px;
    color: white;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
    font-family: IBM Plex Sans, sans-serif;
}
.index-content2 button{
    padding: 10px;
}

.index-content2 button:hover{
    background: #00d1ff;
}

.index-card-para{
    color: #141414;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
    margin-bottom: 100px;
}
/* index end */

/* IT start */

.itbg {
    background-image: url(../Image/IT.webp);
    width: 100%;
    height: 750px;
    background-position: center;
    background-size: cover;
}

.itfnt {
    padding-top: 250px;
}

.itfnt h1 {
    font-size: 1.5cm;
    margin-top: 4cm;
}


.itcnt h2,
h3 {
    color: #000;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
}

.itcnt p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
}

.itcnt button {
    margin-top: 50px;
    background: linear-gradient(88.89deg, #008ad4 10.61%, #00d1ff 64.08%);
    font-size: 1rem;
    font-weight: 700;
}

.it-img {
    box-sizing: border-box;
    border-radius: .5rem;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/* IT end */

/* About start */
.aboutbg {
    background-image: url(../Image/about.webp);
    width: 100%;
    height: 750px;
    background-position: center;
    background-size: cover;
}

.aboutfnt {
    padding-top: 400px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
}

.about-para {
    color: #000;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}

.aboutbg2 {
    background-image: url(../Image/about2.webp);
    width: 100%;
    height: 750px;
    background-position: center;
    background-size: cover;
}

.abtcont h1 {
    margin-top: 300px;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    color: #1296cf;
}

.abtcont p {
    line-height: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 2cm;
    color: #020001;
}

/* About end */

/* contact start */
.cntbg {
    background-image: url(../Image/contactbg.webp);
    height: 80%;
    box-shadow: 1px 1px 12px #020001;
}

.contact-card {
    box-shadow: 1px 1px 12px #020001;
}

.cntlbl label {
    color: #19A7CE;
}

.keep {
    color: white;
    font-weight: 400;
}

/* contact end */

/* carrer start */
.carrerbg {
    background-image: url(../Image/carrerbg.jpg);
    width: 100%;
    height: 750px;
    background-position: center;
    background-size: cover;
}

.carrerfnt {
    padding-top: 250px;
}

.carrerfnt h1 {
    font-size: 1.5cm;
    margin-top: 4cm;
}

.carrer-content {
    background: linear-gradient(90deg, #1f3467, #008ad4 70%);
    color: #1f3467;
    width: 50%;
}

.carrer-card p{
    color: black;
    line-height: 1.5 !important;
    letter-spacing: 0 !important;
    text-align: center;

}

.carrer-card {
    box-shadow: 1px 1px 12px #020001;
    transition: 0.8s;
}

.carrer-card:hover {
    box-shadow: 2px 2px 22px #19A7CE;
}

.carrer-content+p {
    text-align: center;
    color: #141414;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.6;
}

.carrer-card h5 {
    text-align: center;
    color: #141414;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.6;
}

.carrer-content p {
    color: #141414;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6;
}

/* carrer end */

/* Media Query */
@media(max-width:768px) {
    .moblogo {
        display: block;
    }

    .weblogo {
        display: none;
    }

    .navbar {
        background: #AFD3E2 !important;
        
    }

    .head-img {
        width: 100%;
        margin-top: 20px;
    }

    .index2 {
        align-items: center;
        text-align: center;
    }

}